/*ul.info{
    display: flex; /* pour tout mettre sur la même ligne 
    justify-content: right;/* pour mettre à droite
    background-color: rgb(220, 240, 245); pour mettre tout ce qui est dans mon ul dans un petit trait bleu ciel 
}

ul.info li{
    list-style-type: none;  pour faire disparaitre les points . qui apparaissent devant mon "li" 
}

ul.info li.berceuse{
    margin-left: 10%;
            display: flex;
            justify-content: space-between;   
               align-items: center;
               border-radius: 50%; 
    padding: 15px 20px;  pour agrandir mes "a" 15px hauteur etc... ce sont les marges à l'interieur 
    margin: 12px 20px;  les marge à l'extérieur de chaque "a"  
    background-color: rgb(128, 128, 128);
    color: aliceblue;
    text-decoration: none;  pour désourligné mes "a" 
}

ul.info li a {
    display: block; 
    padding: 15px 20px;  pour agrandir mes "a" 15px hauteur etc... ce sont les marges à l'interieur 
    margin: 12px 20px;  les marge à l'extérieur de chaque "a"  
    background-color: rgb(128,128,128);
    color: aliceblue;
    text-decoration: none; /* pour désourligné mes "a"  
 } 

 body{
     margin: 0 300px 300px 300px; /* réduire les "4" côtés de tout mon body pour que ça se retrouve au milieu 
     padding: 0;
    } */

    div#haut{
        height: 165px;
        background-color: rgb(190, 167, 167);
        display: flex;
        list-style-type: none; /* pour faire disparaitre les points de 'li' */
        justify-content: space-between;
  
    } 

    div#haut ul.info{
        display: flex; /* Pour alligner */
        list-style-type: none; /* pour faire disparaitre les points de 'li' */
        justify-content: right;
        
    }

      div#haut ul.info {
        margin-left: 30px; /* pour espacer mes menus */
        font-size: 20px; /* pour augmenter la taille de mes menus */
        cursor: pointer; /* pour afficher le curseur une fois que l'utilisateur place la souri sous mes menus pour lui permettre de cliquer dessus */
       /* border-bottom: 1px solid white; */
       margin: 65px;
       padding: 5px;
       
      }

     div#haut ul.info li{
        margin-left: 30px; /* pour espacer mes menus */
        font-size: 20px; /* pour augmenter la taille de mes menus */
        cursor: pointer; /* pour afficher le curseur une fois que l'utilisateur place la souri sous mes menus pour lui permettre de cliquer dessus */
        border-bottom: 1px solid white;
        border-bottom-color: black; /* pour afficher les traits noir sous mes menus lorsque l'utilisateur place le curseur sous mes menus*/
      /*  margin: 45px;
        padding: 5px;*/
        
     }


 section{
     display: flex;
    /* flex-wrap: wrap;*/
     justify-content: space-between;
     align-items: center;
     background-color: white;
     /*position: sticky;*/
     top: 0;
 }  

 div.profile {
       display: flex;
       align-items: center;
      
 }

 div.profile img {
     width: 150px;
     height: 150px;
     border-radius: 50%; 
 }

 div.profile h1{
    margin-left: 15px; /* pour espacer l'image du titre, mettre de l'espace entre l'image et le titre*/
    font-size: 20px; /* réduire la taille de la lettre Luz clarita*/
 }

 ul.info {
    /* display: flex;  Pour alligner */
     list-style-type: none; /* pour faire disparaitre les points de 'li' */
     
 }

 ul.info li{
   /* margin-left: 30px; /* pour espacer mes menus */
  /*  font-size: 20px; /* pour augmenter la taille de mes menus */
   /* cursor: pointer; /* pour afficher le curseur une fois que l'utilisateur place la souri sous mes menus pour lui permettre de cliquer dessus */
   /* border-bottom: 1px solid white;*/
 }

 ul.info li:hover{
     border-bottom-color: black; /* pour afficher les traits noir sous mes menus lorsque l'utilisateur place le curseur sous mes menus*/

 }

 section.content{
     margin: 9px; /* pour decoller mes ecrits du bord de mon ecran*/
 }

 section.content header{
          margin-top: 3%;/* pour mettre de l'espace entre mon image et mes ecrits, c'est à dire pousser mes ecrits vers le bas*/
          max-width: 100%; /* pour Réduire la largeur de notre header, justifier en quelque sorte, que ça soit pas deborder à gauche mais un peu déborder à droite*/
                        /* pour dire qu'il doit pas dépasser une largeur de 80% sur ma page*/
 }

 body{
     font-family: Arial, Helvetica, sans-serif;
    /* margin: 0 320px 320px 320px;  pour centrer ma page au milieu*/
    padding: 0;
    margin: 0;
 }

 section.content h2{
     font-size: 22px;
   /*  background-color: rgb(190, 167, 167); /* pour mettre mes titres "h2" en trait de couleur */
 }

 section.content p{
     line-height: 30px; /* pour mettre de l'espace entre mes textes afin que ça soit jolie*/
 }

 section.content button{
     background-color: inherit;
     border: none;
     outline: none;
     padding: 0;
     font-size: 15px;
     font-weight: bold;
     padding-bottom: 5px;
     border-bottom: 1px solid #ccc; /* pour mettre un trait sous mon button*/
     cursor: pointer;

 }

  section.content button:hover{
      color: #ccc;
      border-bottom-bottom: #000;
      
  }

  section.image{
      margin-top: 5%;
      justify-content: center;
    
      
      
  }

  section.section{
      margin-top: 3%;
  }
 section.proj{
      margin-top: 3%;
 }
  
 section.section h2{
      font-family: Arial, Helvetica, sans-serif; /* pour la police*/
      font-size: 3vw;
  }


  section.section div.project{
      max-width: 140px;
      margin-right: 20px;
  }

  section.section div.project h4{
      margin: 0; /* pour remonter la description au niveau du titre*/
  }

  section.section p.description{
             font-size: 13px; /*pour réduire la taille de mes descriptions*/
             line-height: 20px;
  }

  section.section p.date{
    font-size: 13px;
    color: rgb(145, 145, 145);
    margin-top: 20%;
}

footer{
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(190, 167, 167);
    color: white;
    padding: 10px;
}

div.colonne p{
    font-size: 20px;
    color:#ccc;
    cursor: pointer;
}